.green {
    width: 130px;
    height: 40px;
    background: #0054a5;
    border-radius: 7px;
    border: none;
    color: white;
    font-size: 12px;
    font-weight: 500;

}

.green-border {
  border: 1px solid #0054a5;
  color: #0054a5;
  background-color: #fff;
  border-radius: 10px;
  height: 40px;
  padding: 0.3rem 1.2rem;
}

.red {
  width: 130px;
  height: 40px;
  background-color: #c00303;
  color: white;
  border-radius: 7px;
  font-weight: 500;
  font-size: 12px;
  border: none;
}

.green i,
.red i {
  margin-right: 10px;
}

.green-button {
  padding: 0.6rem 1.2rem;
  margin-top: 2rem;
  margin-left: 900px;
  border: 1px solid #0054a5;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
}

.wrapper-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 13rem;
  z-index: 999999;
}

.modal-branch {
  width: 550px;
  background-color: #fff;
  border-radius: 20px;
  padding: 2rem;
  text-align: start;
}

.modal-branch h1 {
  font-size: 36px;
  font-weight: 500;
}

.modal-body h4 {
  font-size: 20px;
}

.modal-body input {
  width: 250px;
  border-radius: 10px;
  border: 1px solid #dadada;
  outline: none;
  padding: 0.4rem 1.2rem;
}

.delete-modal {
  width: 500px;
  background-color: #fff;
  border-radius: 10px;
  padding: 2rem;
}

.delete-modal h1 {
  font-size: 28px;
}

.delete-modal h4 {
  font-size: 20px;
}

.alert-modal {
  width: 400px;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
}

.alert-modal h4 {
  margin: 1rem 0;
  font-size: 16px;
}

.branch_table {
  height: 70vh !important;
  width: 95%;
  margin-top: 1rem !important;
  margin: 0 auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #fff;
}

.branch_table_head {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 5% 40% 15% 15% 25%;
  color: #fff;
  align-items: center;
  height: 50px;
  border-radius: 7px;
  padding: 0px 1.5rem;
  font-weight: 400;
  /* background-color: #0054a5; */
  background-color: #0054a5;

}
.branch_table_head p {
  font-size: 12px;
  margin-left: 10px;
  margin-bottom: 0px !important;
  text-align: start;
}
.branch_table_body {
  height: 95%;
  overflow-y: auto;
}
.branch_table_body::-webkit-scrollbar{
  width: 7px;
  /* background: #F2F6FA; */
  border-radius: 7px;
}
.branch_table_body::-webkit-scrollbar-thumb{
  background-color: #F2F6FA;
  border-radius: 7px;
}
.branch_table_tbody {
  height: 56px;
  padding: 0 1.5rem;
  display: grid;
  grid-template-columns: 5% 40% 15% 15% 25%;
  align-items: center;
  border: 1px solid #0054a5;
  color: #0054a5;
  border-radius: 7px;
  margin-top: 7px;
}

.title_page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  margin: 0 auto;
  width: 95%;
  text-align: left;
}
.title_page h4{
  font-size: 28px;
  font-weight: 700;
}
